<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Cat</title>
    <link rel="stylesheet" href="/stylesheets/style.css"/>
  </head>
  <body>
    <h1>About Tobias</h1>
    <p>He was an psycho-analyst and therapist (with Tobias claiming to be the first "Analrapist") but lost his licenses after harming a man during CPR. He has since been seeking work as an actor with little success. He aspired to be a member of the Blue Man Group for a while, but they rejected him. <br>
    Lindsay married Tobias as a form of protest against her parents, but the two rarely have intimate moments. Although he repeatedly denies it, he is most likely homosexual. He suffers from a rare psychological condition, making him a Never Nude. He has a strange pattern of speech that makes almost everything he says have a disturbingly sexual undertone. He seems unaware of this. </p>
    <img src="/images/tobias-funke.jpg"/>
    <img src="/images/tobias-funke-blue.jpg"/>
  </body>
</html>