<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tobias Funke</title>
</head>
<body>
    <h1>Work</h1>
    <p>After meeting Lindsay Bluth, the two moved to Boston where Tobias was both a psychoanalyst and a psychotherapist and thus claimed he was the world's first "analrapist." ("Forget-Me-Now") He lost his licenses after harming a sleeping man with unnecessary CPR. He moved to California with his wife and daughter to figure out his next steps. ("Pilot") He continued to use his education to assist those in the Bluth family, but never to any good outcome. In 2012 as part of a work-release program from prison Tobias worked for Lucille Austero at Austerity. ("Smashed")</p>
    
    <p>After moving to California in 2003, Tobias decided that his destiny was to become an actor, and he pursued this career for several years without any success. Highlights of his "career" include: being turned down for the role of 'Dr. House'; landing the part of "Frightened Inmate #2" in a prison film, only to get fired for not being able to do the shower scene due to his condition (see below); and attempting to join the Blue Man Group as a standby understudy and, as a consequence, spending part of the second season covered in blue make-up.

    In a move inspired by the film Mrs. Doubtfire, Tobias masquerades as a British housekeeper/nanny named "Mrs. Featherbottom" in an attempt to spend time with his wife and daughter after Lindsay kicks him out of the model house. While the disguise fools no one, the family humors him since this gets the housework done.
        
    Although he continually takes very expensive acting lessons from Carl Weathers (the actor who is mostly known from his portrayal of Apollo Creed in the Rocky franchise as well as a Marine in Predator), he mainly gets tips on how to make stews from Mr. Weathers. Lindsay continually pokes fun at Tobias' desperation to become an actor, and they split up and reconcile many times over the course of the series.
        
    Past 2006, Tobias continues to pursue his career in acting. He appears in another episode of Scandalmakers and works for tips as a sidewalk character posing as The Thing from Fantastic Four. ("The B. Team") ("A New Start") He also appears on several Miracle Network shows and in G.O.B.'s Jesus' crucifixion illusion. ("Colony Collapse") He also stages Fantastic 4: An Action Musical. ("Smashed")</p>
</body>
</html>